@model Accessorie

@{
    ViewData["Title"] = "Accessorie Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    @if (Model.Gender == 1)
                    {
                        <img src="~/productImages/WomenAccessorieImg/@Model.ImageName" style="width:500px;height:600px" />

                    }
                    else if (Model.Gender == 2)
                    {
                        <img src="~/productImages/ManAccessorieImg/@Model.ImageName" style="width:500px;height:600px" />
                    }
                    else if (Model.Gender == 3)
                    {
                        <img src="~/productImages/KidAccessorieImg/@Model.ImageName" style="width:500px;height:600px" />
                    }

                </div>
                <div>
                    <label><b>ა ქ ს ე ს უ ა რ ი</b></label>
                    <br />
                    @if (Model.Gender == 1)
                    {
                        <label><b>ტიპი:</b> ქალი</label>
                    }
                    else if (Model.Gender == 2)
                    {
                        <label><b>ტიპი:</b> კაცი</label>
                    }
                    else if (Model.Gender == 3)
                    {
                        <label><b>ტიპი:</b> ბავშვი</label>
                    }
                </div>
                <div>
                    <b>სახელი:</b> @Model.Name
                </div>
                <div>
                    <b>ფასი:</b>  @Model.Price ლარი
                </div>
                <div>
                    <b>დარჩენილი რაოდენობა:</b> @Model.Quantity
                </div>

            </div>
        </div>
    </div>
</div>
<a href="/Home/ClientOrder/?AccessorieID=@Model.ID" class="btn btn-primary">ყიდვა</a>
<br />
<table>
    @foreach (var item in ViewBag.Comments)
    {

        <tr>
            <td><b>სახელი: </b></td>
            <td>@item.Name</td>
        </tr>
        <tr>
            <td><b>კომენტარი:</b> </td>
            <td>@item.CommentTXT</td>
        </tr>
        <tr>
            <td><b>დრო:</b> </td>
            <td>@item.CreatedateTime</td>
        </tr>

    }
</table>
<div class="contact-us">
    <div class="col-lg-4">
        <div class="section-heading">
            <h2>კომენტარი</h2>
            @*  <span></span> *@
        </div>
        <form id="comment" controller="Home" action="DetailsAccessorie" method="post">
            <input type="hidden" name="AccessorieID" value="@Model.ID" />
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <input name="name" type="text" id="name" placeholder="სახელი" required="">
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <input name="email" type="text" id="email" placeholder="მეილი" required="">
                    </fieldset>
                </div>
                <div class="col-lg-12">
                    <fieldset>
                        <textarea name="commentTXT" rows="6" id="CommentTXT" placeholder="ტექსტი" required=""></textarea>
                    </fieldset>
                </div>
                <div class="col-lg-12">

                    <button type="submit" id="form-submit" class="main-dark-button" style="width:90px">დაწერა<i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>