@model List<Accessorie>

@{
    ViewData["Title"] = "MansAccessories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>

        </div>
    </div>
</div>
<div class="input-group md-form form-sm form-2 pl-0">
    <form id="searchForm" asp-controller="Home" asp-action="MansAccessories" method="post">
        <input name="searchText" class="form-control my-0 py-1 table-bordered" type="text" placeholder="შეიყვანეთ საძიებო სიტყვა" arial-label="Search" style="width:800px">
        <div class="input-group-append">

            <button id="btnSearch" class="btn btn-primary">მოძებნა</button>
        </div>
    </form>
</div>


<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <br />
                    <h2>კაცის აქსესუარები</h2>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="@("\\Home\\MansAccessories\\"+item.ID)"><i class="fa fa-eye"></i></a></li>
                                    @*  <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> *@
                                    <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <a href="@("Home\\DetailsAccessorie\\"+item.ID)"><img src="~/productImages/ManAccessorieImg/@(item.ImageName)" alt=""></a>

                        </div>
                        <div class="down-content">
                            <h4><a href="@("\\Home\\MansAccessories\\"+item.ID)">@item.Name</a></h4>
                            <span>@item.Price ₾</span>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/Home/MansAccessories/?searchText=@ViewBag.SearchText&pageIndex=@(ViewBag.PageIndex-1)">უკან</a></li>
                        @for (int i = 1; i <= ViewBag.ProductsTotalCount; i++)
                        {
                            <li class="page-item @(ViewBag.PageIndex==i?"active":"")"><a class="page-link" href="/Home/MansAccessories/?searchText=@ViewBag.SearchText&pageIndex=@i">@i</a></li>
                        }
                        <li class="page-item"><a class="page-link" href="/Home/MansAccessories/?searchText=@ViewBag.SearchText&pageIndex=@(ViewBag.PageIndex+1)">წინ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
@section scripts {
    <script src="/js/Search.js"></script>
}