@model Bags_Accessories.Models.Accessorie

@{
    ViewData["Title"] = "AccessorieDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>ნამდვილად ქსურთ ამ აქსესუარის წაშლა?</h3>
<div>

    <hr />
    
        <table>
            <tr>
                <td>ტიპი: </td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>სახელი: </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>ფასი: </td>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <td>რაოდენობა: </td>
                <td>@Model.Quantity</td>
            </tr>
            <tr>
                <td>სურათი: </td>
                <td>@Model.ImageName</td>
            </tr>

        </table>
    

    <form asp-action="AccessorieDelete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="წაშლა" class="btn btn-danger" /> 
    </form>
</div>
